*{
	margin:  0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Mate SC', serif;
}

.cardHighlight {
	min-height: 100%;
	transition: 0.5s;
	animation: ease-in-out;
}

.cardHighlight:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 0px;
}

.columnCard {
	margin-bottom: 2rem;
}

.cardHighlight2 {
	min-height: 100%;
}

#Navbar {
	text-transform: uppercase;
	font-weight: bold;
}

.switch {
	background-image: url(bg4.jpg);
	background-size: cover;
	background-position: center;
	min-height: 180vh;
}

#heading {
	font-weight: bold;
}

.jumbotron {
	background-image: url(bg6.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.title {
	background-image: url(bg6.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}


